{% include nav.html %}


{% if page.title == "Home"%}
    <header class="header-home">
        {% if site.about %}
            <a class="link" href="{{ site.url }}">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        
    </header>
{% endif %}

{% if page.title == "Notes"%}
    <header class="header-notes">
        {% if site.about %}
            <a class="link" href="{{ site.url }}">
                <img class="selfie" alt="{{ site.name }}" src="../assets/notes.png"" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="../assets/notes.png" />
            </span>
        {% endif %}
        
    </header>
{% endif %}

{% if page.title == "Blog"%}
    <header class="header-blog">
        {% if site.about %}
            <a class="link" href="{{ site.url }}">
                <img class="selfie" alt="{{ site.name }}" src="../assets/blog.png"" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="../assets/blog.png" />
            </span>
        {% endif %}
        
    </header>
{% endif %}




