.line-break 
	width: 100%



.row1, .row2
	margin: 0em auto
	width: 80%
	padding: 0 0
	display: flex

	.itemcontainer
		display: inline-flex

		.noteitem
			display: inline
			flex: 0 0 11em
			padding: 0 1em
			margin: 3em 1em
			background-color: #3d5a80
			color: #bfbfbf
			text-align: center
			h3
				color: #FFFFFF

			p
				padding: 0 0

			img
				display: block
				margin: 1em auto


.category
	padding: 6em 0
	max-width: 25%
	display: inline-block

	.image
		display: inline-block
		margin: 0 auto
		
	.imagecaption
		display: block
		text-align: center	


.notespage
	hr
		width: 90%
		margin: 0 auto
		height: .1em
		background: #bfbfbf


.row1
	.itemcontainer
		margin: 1em 

.row2
	padding-left: 9em

	.category
		max-width: 13%
		padding-right: 4em




		